main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    /* min-height: 100vh; */
}

.calendarBody {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calendarCell {  
    padding: 5px;  
    flex-basis: 14.285%;
}

.calendarCellContents {
    aspect-ratio: 1 / 1;
    width: 100%;
    max-height: 100%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.calendarCellDate {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 25px;
    height: 25px;
    font-size: 75%;
    font-weight: bold;
}

.calendarCellDate span {
    align-self: center;
}

.calendarCellDate.populated {
    color: white;
    background: #2b67b7;
    border-radius: 50%;
}

.calendarContainer {
    margin-top: 20px;
    width: 100%;
}

/* .calendarControl { 
} */

.calendarControl:hover {
    color: gray;
    cursor: pointer;
}

.calendarDayLabel {
    padding: 20px;  
    flex-basis: 14.285%;
    font-weight: bold;
    text-align: center;
}

.calendarHeader {
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    font-size: 200%;
    border-bottom: 3px solid gray;
}

.calendarLabel {
    flex-grow: 1;
}